.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1f3460;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Home-Button{
  color: blue
}

.BelmontTitle {
  font-size: 75px;
}

.heart {
  color: #ff0000;
}

.body {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: teal; /* Set your desired background color */
  color: black; /* Set your desired text color */
  padding: 10px;
  text-align: center;
}
